node_modules
bower_components
build
docs
app/bower_components
test/bower_components
markup/bower_components
.idea
npm-debug.log
logo.png
src/js/main.js
src/js/*.min.js
src/css/*.min.css
src/js/sourcemap.map
obfuscate.json
