@vert-step: 25px;
@top: 20px;


html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
}

#sceneBlocker {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 30%;
  text-align: center;
  font-family: Arial;
  color: white;
  background-color: rgba(0,0,0,0.45);
}

.hidden {
  display: none;
}

button {
  z-index: 2;
  position: absolute;
}

#launch {
  top: @vert-step;
  right: 20px;
}
#restart {
  top: @top*3;
}

#slider{
  z-index: 2;
  width: 50%;
  margin:@top*3/4 auto;
}

.ui-widget-content {
  background-color:rgba(255, 255, 255, 0.2);
}

#boxSize,
#setDendrits,

#wavePower,
#minDistance,
#maxDistance,
#setSignal,

#pinMaxLength,
#blastRadius,
#blastPower,
#processWave {
    z-index: 2;
    position: absolute;
    left: 20px;
    font-family: Arial;

    label {
      color: white;
    }
    input {
      width:40px
    }
}

.config-detail {
  width: 190px;
  input {
    position: absolute;
    right: 0px;
    top: -2px;
  }
}

@bt: 20px;

#keepSelected {
  z-index: 2;
  position: absolute;
  right: 20px;
  bottom: @bt;
  font-family: Arial;
  width: 127px;

  label {
    color: white;
  }
  input {
    top: 0px;
  }
}

@onepx-border: 1px solid white;
@hd: 80px;

#measure {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: @bt*2+10;
  font-family: Arial;
  width: @hd*4;
  margin-left: -@hd*2;
  text-align: center;
  cursor: pointer;

  @tp: 26px;
  @sh: 10px;

  .measure-value,
  .actual-density {
    color: white;
    height: @tp;
    line-height: @tp;
  }
  .actual-density {
    font-size: 14px;
  }
  .scale {
    height: @sh;
    width: @hd*1.5;
    margin: auto;
    border-left: @onepx-border;
    border-right: @onepx-border;

    .top, .bot {
      height: @sh/2;
    }
    .top {
      border-bottom: @onepx-border;
    }
  }
}

#resolution {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: @top;
  font-family: Arial;
  width: @hd*4;
  margin-left: -@hd*2;
  text-align: center;
  cursor: pointer;

  label {
    color: #fff;
    cursor: pointer;
  }
  .low {
    margin-right: 20px;
  }
  .high {
    margin-left: 20px;
  }
  .active {
    font-weight: bolder;
    font-size: 21px;
    cursor: default;
  }
}

#powerBy {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: @bt;
  font-family: Arial;
  width: @hd*4;
  margin-left: -@hd*2;
  text-align: center;
  cursor: pointer;

  a, label {
    color: white;
  }
}
#boxSize {
  top: @vert-step;
}
#setDendrits {
  top: @vert-step*2;
}

#wavePower {
  top: @top+@vert-step*3;
}
#minDistance {
  top: @top+@vert-step*4;
}
#maxDistance {
  top: @top+@vert-step*5;
}
#setSignal {
  top: @top+@vert-step*4;
}
.shifted {
  margin-top: @vert-step*2;
}

#pinMaxLength {
  top: @top*2+@vert-step*5;
}
#blastRadius {
  top: @top*2+@vert-step*6;
}
#blastPower {
  top: @top*2+@vert-step*7;
}
#processWave {
  top: @top*2+@vert-step*8;
}

.config-info {
  z-index: 2;
  position: absolute;
  left: 20px;
  font-family: Arial;
  font-size: 14px;

  label {
    color: silver;
  }
}

@info-shift: @bt+4;

#actualDendritsAmount {
  bottom: @info-shift*4;
}
#actualSynapcesAmount {
  bottom: @info-shift*3;
}

#averageSynapcesDist {
  bottom: @info-shift*2;
}
#averageSynapcesDens {
  bottom: @info-shift;
}
