@top: 30px;

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#renderCanvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  touch-action: none;
}

button {
  z-index: 2;
  position: absolute;
}

#launch {
  top: @top;
  right: 20px;
}
#restart {
  top: @top*3;
}

#slider{
  z-index: 2;
  width: 50%;
  margin:@top*3/4 auto;
}

.ui-widget-content {
  background-color:rgba(255, 255, 255, 0.2);
}

#neuronsAmount,
#blastRadius,
#blastPower,
#applyConfig {
    z-index: 2;
    position: absolute;
    left: 20px;
    font-family: Arial;

    label {
      color: white;
    }
    input {
      width:40px
    }
}

.config-detail {
  width: 130px;
  input {
    position: absolute;
    right: 0px;
    top: -2px;
  }
}

#neuronsAmount {
  top: @top;
}
#blastRadius {
  top: @top*2;
}
#blastPower {
  top: @top*3;
}
#applyConfig {
  top: @top*4;
}
